* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b38;
  color: #ffffff;
  font-family: Lato, sans-serif, Segoe UI, Roboto, Arial;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  padding: 40px 0;
}